*{
    box-sizing: border-box;  /*ça bloque l'élement, le recentre et ça fait une marge*/
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
h1{
    font-size: 70px;
    color: white;
    margin-top: 50px;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-weight: 400;
}
h2{
    font-size: 50px;
    color: CRIMSON;
    padding: 20px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
}
h3{
    font-size: 22px;
    color: #2c3e50;
    padding: 15px;
}
h4{
    text-align: center;
    margin-top: 30px;
    color: #2c3e50;
    font-size: 20px;
}
h5{
    font-size: 90px;
    color: /*CRIMSON*/purple;
    padding: 20px;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;
    text-align: center;
}
blockquote{
    font-style: italic;
    font-size: 120%;
}
strong{
    font-weight: bold;
}
main{
    height: 7800px;
    background: mistyrose ;
    margin: 0 auto;
    width: 1000px;
}
aside{
    /*height: 250px;*/
    height: 300px;
}
section{
    margin-top: 50px;
    /*background: THISTLE;*/
    padding: 20px;
}
footer{
    background:MISTYROSE;
    height: 30px;
}

main {
    padding: 20px;
}
/*********************************  DEBUT HEADER  ***********************************/
header{
    background-color:SLATEGRAY;
        height: 175px;
}
#logo{
    width: 25%;
    float: left;
    text-align: center;
    padding: 15px;
}
#slogan{
    width: 50%;
    float: left;
}
#rs{
    width: 25%;
    float: left;
    padding: 20px;
}
#rs a{
    font-size: 30px;
    color: white;
    display: block; /*change leur type inline en block pour les mettre les uns en dessous des autres*/
    text-align: right;
    padding: 15px 30px 0 0;
    text-decoration: none;
}
#rs a:hover{
    font-size: 60px;
    transition: 1s;
}
/*********************************  FIN HEADER  ***********************************/
/*********************************  DEBUT NAV  ***********************************/
nav{
    background-color: MISTYROSE;
    border-bottom: 4px solid slategray;
    text-align: center;
    padding: 17px;
}
nav a{
    font-family: 'Amatic SC', cursive;
    font-size: 25px;
    text-decoration: none;
    color: Black;
    font-weight: 500;
    border: 1px solid pink;
    padding: 6px 9px;
    border-radius: 7px;
    margin: 0px 8px;
}
nav a:hover{
    background: pink;
    transition: 1s;
}
.activ{
    background: pink;
}
/*********************************  FIN NAV ***********************************/
/*********************************  DEBUT PAGE TEXTE  ***********************************/
.roboto p{
    font-family: 'Roboto Condensed', sans-serif;
}
/*********************************  FIN PAGE TEXTE  **************************************/


.first {
    color: red;
    font-size: 25px;
}

.first li:first-child,.first li:nth-child(10){
    color: purple;
}

.first li:nth-child(5),.first li:nth-child(6) {
    color: green;
}

.first li {
    list-style: none;
}


.zone li {
    list-style: none;
}

.zone{
    color: rgb(246, 156, 83);
    font-size: 25px;
}

.zone li:nth-child(3) {
    color: blue;
}

.one,.two {
    font-size: 25px;
}

.one p {
    color: rgb(121, 170, 46);
}

.clear {
    clear: both;
}

.zone li {
    margin-right: 5px;
    float: left;
}

span {
    color: green;
}


/* .select div:not(.zoneB){ all the div in select will be bald unless the Zone B
   
}
     */

.fond {
    height: 600px;
    background: url(../img/photo-1530482817083-29ae4b92ff15.jfif);
}

.block {
    opacity: .7;
    /* or we can do transparancy just like this background: rgba(255,255,255,0.60 */
    border-radius: 25px;
    margin: 20% auto;
    vertical-align: middle;
    width: 70%;
    background-color: white;
    vertical-align: 600px;
}

.second img {
    border: 4px solid black;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin: 30px 370px;
}

/* img[src="img/toureiffel.jpg"} - thats how we co=an choose an element without giving it a class */

h3 {
    font-size: 25px;
    color: palevioletred;
    margin-top: 30px;
}

.third img {
    margin-top: 20px;
    margin-right: 30px;
    border: 5px solid white;
    box-shadow: 8px 12px 18px 0px #000000;

}

.third img:first-child{
    margin-left: 160px;
}


.third img:first-child:hover,.third img:nth-child(2):hover{
    transform: rotate(20deg);
    transition: all 0.8s ease-in-out 0s;
}



.third img:last-child{
    display: block;
    margin: 30px auto;
}


.third img:last-child:hover{
    transform: rotate(360deg);
    transition: all 0.5s ease-in-out 0s;
}

/* .rotation : image de type inline-block, elle xomporte des marges par defaut. Pout supprimer cette marge,
ouvrir comme après 1ere photo et  la fermer avant 2eme photo ou enlever les espaces en HTML */

/* LES LISTES */

p {
    margin-bottom: 20px;
    font-size: 25px;
    margin-top: 50px;
}

.arrow-right li,.ball li {
    list-style: none;
}



.arrow-right li {
    float: left;
    margin-top: 20px;
    margin-right: 30px;

}

.ball li:first-child {
    margin-top: 20px;
}


i {
    color: rgb(214, 23, 55);
    margin-right: 5px;
}

.fa-circle {
    color: rgb(189, 189, 189);
    margin-right: 5px;
}

.ball li:first-child {
    font-weight: bold;
    font-size: 30px;
}

.ball li {
    font-size: 20px;
}

.ball li:hover {
    font-size: 35px;
    transition: all 0.5s ease-in-out 0s;
    color: red;
}

ol li{
    margin-left: 20px;
    font-size: 20px;
}

dl dt {
font-size: 20px;    
}

/* ----TABLEAU----- */


table{
border: 4px solid #5895f8;   /* bordure 3 valeurs épaisseur, type de trait couleus */
border-collapse: collapse;
/* par défaut le bordure contient 2 traits, pour que le trait soit unique on utilise la propriété "collapse" */
width: 90%;
/* largeur du tableau par rapport à son contenant donc ici le body /!/ ne pas oublier la régle de l'héritage en CSS */
margin: 25px;
}

thead, tfoot {
    background-color: rgb(198, 234, 255);;
    border: 2px solid #5895f8;;
}

tbody {
    border: 1px solid #5895f8;
}

th {
    border: 1px solid #5895f8;
    /* dotted = pointillés */
    padding: 4px;
    /* le padding est une marge interieur */
    background-color: rgb(198, 234, 255);
    width: 25%;
}

td {
    font-size: 100%;
    border: 1px solid #5895f8;
    text-align: center;
    padding: 5px;
}


/* ----POSITIONNING----- */

.green_box {
    display: block;
    margin: 20px auto;
    background: rgb(38, 204, 135);
    height: 150px;
    width: 400px;
}

.green_box p {
    text-align: center;
    color: white;
    font-size: 40px;
   line-height: 150px;
}


.red_box {
    display: inline-block;
    position: relative;
    margin: 20px auto;
    background: rgb(204, 38, 38);
    height: 400px;
    width: 400px;
}


.blue_box {
    position: absolute;
    bottom: 5px;
    background: rgb(23, 38, 252);
    height: 30px;
    width: 30px;

}

.second_box p{
    margin-right: 110px;
    bottom: 400px;
    position: relative;
    display: inline-block;
}


/* ----------------ZONING-------------------- */
#zoning {
    width: 800px;
    height: 600px;
}


#zoning div:first-child {
    background-color: rgb(241, 212, 114);
    height: 80px;
    text-align: center;

}

#zoning div:nth-child(2) {
    float: left;
    width: 200px;
    height: 520px;
    background-color: rgb(161, 204, 126);
}

#zoning div:last-child {
    width: 760px;
    height: 502px;
    background-color: rgb(76, 97, 59);
}


 #zoning div:last-child img{
    position: relative;
    top: 170px;
    left: 0px;
}  

.clear {
    clear: both;
}

/* #zoning1 {
    margin: 0 auto;
    width: 800px;
    border: 2px solid black;
}

#zoning1 .header {
    height: 80px;
    background-color: darkgrey;

}

#zoning1 aside {
    width: 30%;
    height: 500px;
    background-color: purple;
    float: left;
}

#zoning1 section {
    width: 70%;
    height: 500px;
    background-color: lightblue;
    margin: 0;
    padding: 0;
    float: left;
} */


/* ---------------------ZONING2---------- */

#zoning2 {
    color: white;
    text-align: center;
    height: 700px;
    width: 600px;
    margin: 0 auto;
    background-color: rgb(165, 45, 45);
}

#zoning2 aside {
    float: left;
    height: 700px;
    width: 140px;
    background-color: rgb(52, 82, 52);
}



#zoning2 .middle {
    float: left;
    height: 700px;
    width: 320px;
}

.second_zone p{
    text-align: center;
}


/* ---------------------ZONING3-------------- */


#zoning3 {
    margin: 0 auto;
    height: 600px;
    width: 700px;
}
#zoning3 aside {
    height: 550px;
    color: white;
    text-align: center;
    width: 50%;
    float: left;
    background-color: grey;
}



#zoning3 aside:last-of-type {
    background-color: rgb(64, 124, 64);
}

.bas {
    text-align: center;
    height: 50px;
    background-color: rgb(238, 238, 156);
}


/* -------------------------ZONING4-------------------------- */

#zoning4 {
    margin: 0 auto;
    height: 600px;
    width: 700px;
    border: 3px solid black;
}


.header {
    height: 100px;
    background: rgb(206, 206, 206);
    line-height: 100px;
    text-align: center;
}

.nav {
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: rgb(104, 160, 104);
    border-bottom: 10px solid rgb(74, 136, 194);

}

.section {
    height: 395px;
    background: url(../img/pexels-photo-531880.jpeg);
    background-origin: padding-box;
    background-size: cover;
    border: 20px solid white;
}

/* --------------------FIFTH SECTION ------------- */

#five_zone {
    padding: 0;
    border: 2px solid black;
    margin: 0 auto;
    height: 650px;
    width: 700px;
}

.headerFive {
    line-height: 100px;
    height: 100px;
    background-color: rgb(251, 232, 147);
    text-align: center;
}

.navFive {
    line-height: 40px;
    height: 40px;
    background-color: rgb(214, 175, 67);
    border-bottom: 5px solid rgb(189, 155, 5);
    text-align: center;
}

.sectionFive {
    height: 440px;
    border: 20px solid white;
}

.footerFive {
    height: 66px;
    line-height: 66px;
    text-align: center;
    background-color: rgb(214, 175, 67);

}

.zone_one,.zone_two,.zone_three,.zone_four {
    text-align: center;
    width: 328px;
    height: 200px;
    background-color: rgb(189, 155, 5);
    float: left;
}


.zone_two {
    background: url(../img/hogwarts-crest-png-5.png) no-repeat 60px 0px;
    background-size: contain;
    background-color: rgb(214, 175, 67);

}


.zone_three {
    background: url(../img/harry-potter-1-logo-png-transparent.png) no-repeat 60px 0px;
    background-size: contain;
    background-color: rgb(214, 175, 67);

}


/* DEBAGGING */

#cont{
  height: 700px;
   width: 80%;
   margin: 0 auto;
   background-color:white;

}
#cont, .headerFive{
   height: 80px;
   background-color: goldenrod;
   color: black; /*Couleur texte*/
   text-align: center;
}
#cont nav{
 border-bottom: 4px solid black;
 height: 40px;
 background:#d6941a;
 text-align: center;
 color: #000;
}

.mainFive {
    height: 400px;
}
#cont .or{
 height: 200px;
 width: 50%;
 background-color: rgb(151, 101, 245);
 color: #000;
 float: left;
}


#cont .beige{
 height: 200px;
 width: 50%;
 background-color: rgb(64, 89, 122);
 text-align: center;
 float: right;

}

#cont .beige1{
   height: 200px;
   width: 50%;
   background-color:  rgb(151, 101, 245);
   float: right;
}

#cont .br{
   height: 200px;
   width: 50%;
   background-color:  rgb(64, 89, 122);
   float: left;
}

#footerFive{
   height: 80px;
   background-color: goldenrod;
   color: black; /*Couleur texte*/
   text-align: center;
}